/* FlexBox */
/* 1차원 레이아웃 시스템 */

/* 기존 방식: 복잡합 */
/* float: right; */

/* flexbox */
/* 간단한 문법 */
/* 수직 정렬 쉬움 */
/* 유연한 크기 조정 */
/* 반응형 레이아웃 쉬움 */

/* flex-direction (주축 방향) */
/* 주축 : flex-direction 방향 */
/* 교차측: 주측에 수직 */

.container {
  height: 700px;
  background-color: rgb(230, 230, 230);

  /* FlexBox 활성화 */
  display: flex;

  /* 기본값: 가로 -> */
  /* flex-direction: row; */
  /* 가로 역순 <- */
  /* flex-direction: row-reverse; */
  /* 세로 ↓ */
  /* flex-direction: column; */
  /* 세로 역순 ↑  */
  /* flex-direction: column-reverse; */

  /* justify-content (주축 정렬) */
  /* 가로 방향 정렬 */
  /* flex-direction: row 기준 */

  /* 왼쪽 (기본값) */
  justify-content: flex-start;
  /* 오른쪽 정렬 */
  justify-content: flex-end;
  /* 가운데 정렬 */
  justify-content: center;
  /* 양 끝 정렬 */
  justify-content: space-between;
  /* 균등 분배 (양끝 여백 포함) */
  justify-content: space-around;
  /* 완전 균등 분배 */
  justify-content: space-evenly;

  /* 세로 방향 정렬 */
  /* flex-direction: row 기준 */
  /* 기본값: 늘림 */
  align-items: stetch;
  /* 위쪽 정렬 */
  align-items: flex-start;
  /* 아래쪽 정렬 */
  align-items: flex-end;
  /* 가운데 정렬 */
  align-items: center;

  /* 베이스 라인 정렬 */
  /* align-items: baseline; */
}

/* 
            시각적 비교
flex-start:    [1][2][3]___________

flex-end:      ___________[1][2][3]

center:        _____[1][2][3]______

space-between: [1]____[2]____[3]

space-around:  __[1]__[2]__[3]__

space-evenly:  __[1]__[2]__[3]__

*/

.item {
  padding: 20px;
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: red;

  font-size: 36px;
}
